<div class="page-header">
  <h3>Resident #<%= @resident.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Apartment</dt>
      <dd><%= @resident.apartment_id %></dd>

      <dt>Phone number</dt>
      <dd><%= @resident.phone_number %></dd>

      <dt>Email address</dt>
      <dd><%= @resident.email_address %></dd>

      <dt>User</dt>
      <dd><%= @resident.user_id %></dd>

      <dt>Name</dt>
      <dd><%= @resident.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/residents" class="btn btn-primary">
        Back
      </a>
      <a href="/residents/<%= @resident.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_resident/<%= @resident.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Resident has many packages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Packages
      </li>

      <% @resident.packages.each do |package| %>
        <li class="list-group-item">
          <a href="/packages/<%= package.id %>">
            <%= package.location_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/packages/<%= package.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/packages/<%= package.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_package/<%= package.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
