<div class="page-header">
  <h3>Resident #<%= @resident.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Apartment</dt>
      <dd>
        <% if @resident.apartment.present? %>
          <a href="/apartments/<%= @resident.apartment_id %>">
            <%= @resident.apartment.apartment_number %>
          </a>
        <% end %>
      </dd>

      <dt>Phone number</dt>
      <dd><%= @resident.phone_number %></dd>

      <dt>Email address</dt>
      <dd><%= @resident.email_address %></dd>

      <dt>User</dt>
      <dd>
        <% if @resident.user.present? %>
          <a href="/users/<%= @resident.user_id %>">
            <%= @resident.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @resident.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/residents" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @resident.user %>
        <a href="/residents/<%= @resident.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_resident/<%= @resident.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Resident has many packages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Packages
      </li>

      <% @resident.packages.each do |package| %>
        <li class="list-group-item">
          <a href="/packages/<%= package.id %>">
            <%= package.location_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/packages/<%= package.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/packages/<%= package.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_package/<%= package.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_package" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for resident_id -->
      <input type="hidden" name="resident_id" value="<%= @resident.id %>">

      <!-- Label and input for contact_time -->
      <div class="form-group">
        <label for="contact_time" class="control-label">
          Contact time
        </label>

        <input type="text" id="contact_time" name="contact_time" placeholder="Contact time" class="form-control" value="">
      </div>

      <!-- Label and input for contact_type -->
      <div class="form-group">
        <label for="contact_type" class="control-label">
          Contact type
        </label>

        <input type="text" id="contact_type" name="contact_type" placeholder="Contact type" class="form-control" value="">
      </div>

      <!-- Label and input for employee_id -->
      <div class="form-group">
        <label for="employee_id" class="control-label">
          Employee
        </label>

        <%= select_tag(:employee_id, options_from_collection_for_select(Employee.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Package
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
