<div class="page-header">
  <h3>Location #<%= @location.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @location.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/locations" class="btn btn-primary">
        Back
      </a>
      <a href="/locations/<%= @location.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_location/<%= @location.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Location has many packages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Packages
      </li>

      <% @location.packages.each do |package| %>
        <li class="list-group-item">
          <a href="/packages/<%= package.id %>">
            <%= package.location_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/packages/<%= package.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/packages/<%= package.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_package/<%= package.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_package" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <input type="hidden" name="location_id" value="<%= @location.id %>">

      <!-- Label and input for resident_id -->
      <div class="form-group">
        <label for="resident_id" class="control-label">
          Resident
        </label>

        <%= select_tag(:resident_id, options_from_collection_for_select(Resident.all, :id, :apartment_id), :class => "form-control") %>
      </div>

      <!-- Label and input for contact_time -->
      <div class="form-group">
        <label for="contact_time" class="control-label">
          Contact time
        </label>

        <input type="text" id="contact_time" name="contact_time" placeholder="Contact time" class="form-control" value="">
      </div>

      <!-- Label and input for contact_type -->
      <div class="form-group">
        <label for="contact_type" class="control-label">
          Contact type
        </label>

        <input type="text" id="contact_type" name="contact_type" placeholder="Contact type" class="form-control" value="">
      </div>

      <!-- Label and input for employee_id -->
      <div class="form-group">
        <label for="employee_id" class="control-label">
          Employee
        </label>

        <%= select_tag(:employee_id, options_from_collection_for_select(Employee.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Package
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
